# === Directorios de compilación (Basura de Java) ===
bin/
build/
target/
out/
.gradle/

# === Archivos específicos de Eclipse (Configuración Local) ===
# NO subir estos porque tienen rutas de TU computadora
.project
.classpath
.settings/
.metadata/
.recommenders/
*.launch

# === Servidores y Web (Tomcat Local) ===
# Evita que se suba tu configuración de Tomcat 11
Servers/
.jsdtscope
RemoteSystemsTempFiles/

# === Archivos temporales de Windows/OS ===
Thumbs.db
desktop.ini
.DS_Store

# === Archivos de Maven (si los usas) ===
# El pom.xml SÍ se sube, pero las librerías descargadas no
.m2/