@charset "UTF-8";


.navbar {
    background-color: #002147;
    transition: all 0.3s ease;
}


.nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.nav-link:hover {
    color: #ffcc00 !important;
}


.nav-link.active {
    color: #ffcc00 !important;
}


.btn-profile {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.2);
    transition: 0.3s;
    color: #fff;
}

.btn-profile:hover {
    background-color: rgba(255,255,255,0.1);
    border-color: #fff;
}


.carousel-item img {
    object-fit: cover;
    height: 500px;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
    }
}